In [24]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
path = []
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        path.append(os.path.join(dirname, filename))
Data_df = pd.read_csv(path[1])

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-market/MELBOURNE_HOUSE_PRICES_LESS.csv
/kaggle/input/melbourne-housing-market/Melbourne_housing_FULL.csv

In [25]:
Data_df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/08/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/08/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/08/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [26]:
Data_df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [27]:
Data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

**Numeric attributes:**

In [28]:
Data_df._get_numeric_data().columns

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

**Categorical attributes:**

In [29]:
set(Data_df.columns)-set(Data_df._get_numeric_data().columns)

{'Address',
 'CouncilArea',
 'Date',
 'Method',
 'Regionname',
 'SellerG',
 'Suburb',
 'Type'}

## Data Preparation : Data Cleaning

### Duplicate values

In [30]:
Data_df_unique = Data_df[~Data_df.duplicated()]
print("No Of Rows in Original dataset: %s"%Data_df.shape[0])
print("No Of Rows in Unique dataset: %s"%Data_df_unique.shape[0])

No Of Rows in Original dataset: 34857
No Of Rows in Unique dataset: 34856

### Variable type

In [40]:
Data_df_unique.dtypes[Data_df_unique.dtypes=='object']

Suburb         object
Address        object
Type           object
Method         object
SellerG        object
Date           object
CouncilArea    object
Regionname     object
dtype: object

In [48]:

schema = {"Method":'category',
          "Type":'category',
          "Date":'datetime64'
         
         }
Data_df_unique = Data_df_unique.astype(schema) 
print(Data_df_unique.dtypes)
print("----\n For how many attributes did you need to change the data type? %s"%len(schema))
print(Data_df_unique.dtypes)

Suburb                   object
Address                  object
Rooms                     int64
Type                   category
Price                   float64
Method                 category
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                float64
Bedroom2                float64
Bathroom                float64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount           float64
dtype: object
----
 For how many attributes did you need to change the data type? 3
Suburb                   object
Address                  object
Rooms                     int64
Type                   category
Price                   float64
Method                 category
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                float64
Bedroom2                float64
Bathroom                float64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount           float64
dtype: object

### Missing value treatment

In [100]:
Data_df_unique.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [101]:
Data_df_unique.columns[Data_df_unique.isnull().sum()>0]

Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [109]:
Data_df_unique_fillna = Data_df_unique.fillna( method ='ffill').fillna( method ='bfill')

## Outlier Treatment:

### Identify the varibales

In [110]:
Data_df_unique_fillna_Numeric = Data_df_unique_fillna[Data_df_unique_fillna._get_numeric_data().columns]
Data_df_unique_fillna_Numeric

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,126.0,79.0,1900.0,-37.80140,144.99580,4019.0
1,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,79.0,1900.0,-37.79960,144.99840,4019.0
2,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
3,3,1035000.0,2.5,3067.0,3.0,2.0,1.0,0.0,79.0,1900.0,-37.81140,145.01160,4019.0
4,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,3013.0,4.0,1.0,3.0,593.0,135.0,2016.0,-37.81053,144.88467,6543.0
34853,2,888000.0,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,-37.81551,144.88826,6543.0
34854,2,705000.0,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0
34855,3,1140000.0,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0
34856,2,1020000.0,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,-37.81810,144.89351,6543.0

### Outliers

In [124]:
Data_df_unique_fillna_Numeric.describe(percentiles  =[.20,.80])
Q1 = Data_df_unique_fillna_Numeric.quantile(0.25)
Q3 = Data_df_unique_fillna_Numeric.quantile(0.75)
IQR = Q3 - Q1

Data_df_unique_fillna_Numeric_outlier = Data_df_unique_fillna_Numeric[~((Data_df_unique_fillna_Numeric < (Q1 - 1.5 * IQR)) |(Data_df_unique_fillna_Numeric > (Q3 + 1.5 * IQR))).any(axis=1)]
Data_df_unique_fillna_Numeric_outlier.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,25386.000000,2.538600e+04,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000
mean,2.983101,1.012366e+06,10.180627,3099.725833,3.074017,1.590641,1.567596,450.298275,147.546225,1963.343851,-37.812552,145.005381,6997.296817
std,0.841127,4.426106e+05,5.105127,59.466778,0.800480,0.655996,0.708220,264.786433,65.116039,36.299656,0.080037,0.100318,3740.323700
min,1.000000,1.210000e+05,0.000000,3000.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1868.000000,-38.032270,144.731070,389.000000
25%,2.000000,6.700000e+05,6.300000,3046.000000,3.000000,1.000000,1.000000,224.000000,103.000000,1940.000000,-37.864073,144.933900,4168.000000
50%,3.000000,9.050000e+05,9.700000,3088.000000,3.000000,2.000000,2.000000,495.000000,135.000000,1969.000000,-37.806670,145.008300,6380.000000
75%,4.000000,1.300000e+06,13.800000,3149.000000,4.000000,2.000000,2.000000,652.000000,183.000000,1996.000000,-37.756905,145.075400,9264.000000
max,7.000000,2.325000e+06,25.200000,3207.000000,5.000000,3.000000,3.000000,1302.000000,333.000000,2019.000000,-37.585270,145.282030,17496.000000

## Data Preparation Feature Engineering

### Feature Transformation

In [144]:
from sklearn.linear_model import LinearRegression
scores = {}
y = Data_df_unique_fillna_Numeric_outlier["Price"]
for col in Data_df_unique_fillna_Numeric_outlier.columns:
    X = np.array(Data_df_unique_fillna_Numeric_outlier[col]).reshape(-1,1)
    reg = LinearRegression().fit(X, y)
    scores[col]=reg.score(X, y)

print(scores)
scores_df = pd.DataFrame(scores.items(),columns=['attribute','Score'])
scores_df.sort_values(by=['Score'])

        attribute     Score
12  Propertycount  0.000317
6             Car  0.013110
2        Distance  0.021081
7        Landsize  0.022980
9       YearBuilt  0.031984
11     Longtitude  0.042125
8    BuildingArea  0.044050
5        Bathroom  0.044096
4        Bedroom2  0.059746
10      Lattitude  0.065146
3        Postcode  0.075429
0           Rooms  0.134023
1           Price  1.000000

In [150]:
print("Identify variables that have non-linear trends \n %s"%Data_df_unique_fillna_Numeric_outlier.columns[Data_df_unique_fillna_Numeric_outlier.columns!='Price'])

Identify variables that have non-linear trends
 Index(['Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

### Standardization:

In [154]:
Data_df_unique_fillna_Numeric_outlier.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,25386.000000,2.538600e+04,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000,25386.000000
mean,2.983101,1.012366e+06,10.180627,3099.725833,3.074017,1.590641,1.567596,450.298275,147.546225,1963.343851,-37.812552,145.005381,6997.296817
std,0.841127,4.426106e+05,5.105127,59.466778,0.800480,0.655996,0.708220,264.786433,65.116039,36.299656,0.080037,0.100318,3740.323700
min,1.000000,1.210000e+05,0.000000,3000.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1868.000000,-38.032270,144.731070,389.000000
25%,2.000000,6.700000e+05,6.300000,3046.000000,3.000000,1.000000,1.000000,224.000000,103.000000,1940.000000,-37.864073,144.933900,4168.000000
50%,3.000000,9.050000e+05,9.700000,3088.000000,3.000000,2.000000,2.000000,495.000000,135.000000,1969.000000,-37.806670,145.008300,6380.000000
75%,4.000000,1.300000e+06,13.800000,3149.000000,4.000000,2.000000,2.000000,652.000000,183.000000,1996.000000,-37.756905,145.075400,9264.000000
max,7.000000,2.325000e+06,25.200000,3207.000000,5.000000,3.000000,3.000000,1302.000000,333.000000,2019.000000,-37.585270,145.282030,17496.000000

In [156]:
print("Name the variables to be standardised : %s as its std deviation is high: %s"%('Price','4.426106e+05'))

Name the variables to be standardised : Price as its std deviation is high: 4.426106e+05

In [168]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(np.array(Data_df_unique_fillna_Numeric_outlier['Price']).reshape(-1,1))
Data_df_unique_fillna_Numeric_outlier['Price_std'] = scaled

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,Price_std
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,126.0,79.0,1900.0,-37.80140,144.99580,4019.0,1.056557
1,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,79.0,1900.0,-37.79960,144.99840,4019.0,1.056557
2,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0,0.051139
3,3,1035000.0,2.5,3067.0,3.0,2.0,1.0,0.0,79.0,1900.0,-37.81140,145.01160,4019.0,0.051139
4,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0,1.022667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,3013.0,4.0,1.0,3.0,593.0,135.0,2016.0,-37.81053,144.88467,6543.0,1.056557
34853,2,888000.0,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,-37.81551,144.88826,6543.0,-0.280988
34854,2,705000.0,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0,-0.694452
34855,3,1140000.0,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0,0.288373
34856,2,1020000.0,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,-37.81810,144.89351,6543.0,0.017249